<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Cart</title>
</head>
<body>
<!--<div th:replace="product/index.html::menu">-->
<div th:replace="navbar.html :: copy"></div>

<div class="container">
    <br>
        <h1 class="text-center">Cart</h1>


    <div class="row">
        <div class="col text-center">
            <div th:if="${cartSize} > 0">
                <div th:if="${username} != 'null' " >
                    <p>Hello <span th:text="${username}"></span>!</p>
                </div>
                <div th:if="${cartSize} == 'null'">
                    <p>Hourglass</p>
                </div>
                <table class="table table-borderless">
                    <thead class="table">
                    <th>Product Image</th>
                    <th>
                        Product Name
                    </th>

                    <th>
                        Item Count
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <!--                    <th>-->
                    <!--                        <p class="nav_links" ><a href="/cart"><i class="fas fa-shopping-cart fa-2x"></i></a></p>-->
                    <!--                        <span th:if="${cartSize} > 0">-->
                    <!--        <sup class="badge badge-danger" th:text="${cartSize}">300</sup>-->
                    <!--    </span>-->
                    <!--                    </th>-->
                    </thead>
                    <tbody>
                    <tr th:each="instance : ${cartContents}">
                        <td><img alt="" class=""
                                                                             height="114" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/' + ${instance.key.getProductImage()}" width="100px"/></td>
                        <td th:text="${instance.key.getProductName()}"></td>
                        <td th:text="${instance.value}"></td>
                        <td th:text="${ #numbers.formatDecimal(instance.key.getProductPrice(), 0, 'COMMA',2,'POINT')}  + ' ' + ${defaultCurrency}"></td>
                        <td th:text="${ #numbers.formatDecimal(instance.value * instance.key.getProductPrice(), 0, 'COMMA',2,'POINT')}  + ' ' + ${defaultCurrency}"></td>
                        <td>
                            <form action="/cart" method="post">
                                <div class="inner_form" style="">
                                    <input type="number" min="0" th:value="${instance.value}"
                                           th:id="'inputSubmit' + ${instance.key.getProductId()}" name="quantity" class="inputInner">
                                    <input type="hidden" onkeydown="return false" th:value="${instance.key.getProductId()}"
                                           name="objectId">
                                    <input class="btn btn-primary btn_small" style="display: none"
                                           type="Submit" value="Change Quantity">
                                </div>
                            </form>
                        </td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
                <h2 class="display-5"
                    th:text="'Your cart contains ' + ${cartSize} + ' items totalling: ' + ${#numbers.formatDecimal(cartTotal,0,'COMMA', 2,'POINT')} + ' ' + ${defaultCurrency}"></h2>


                <div class="container">
                    <div class="row">
                        <table align="center">
                            <tr>
                                <td th:if="${username} != 'null'">
                                    <a href="/checkout">
                                        <button class="btn btn-primary cart_button">Checkout</button>
                                    </a>
                                </td>
                                <td th:if="${username} == 'null'">
                                    <a href="/login">
                                        <button class="btn btn-primary cart_button">Checkout</button>
                                    </a>
                                </td>
                                <td th:if="${username} != 'null'">
                                    <form action="/cart" method="post">
                                        <input type="hidden" th:value="${userId}" name="saveCart">
                                        <input type="submit" class="btn btn-primary cart_button" value="Save Cart">
                                    </form>
                                </td>
                                <td>
                                    <form action="/cart" method="post">
                                        <input type="hidden" value="clear" name="clearCart">
                                        <input type="submit" class="btn btn-primary cart_button" value="Clear Cart">
                                    </form>
                                </td>
                                <td>
                                    <a href="/">
                                        <button class="btn btn-primary cart_button">Keep Shopping</button>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="${cartSize} <= 0">

                <div class="container">
                    <p>Your cart is empty</p>
                    <a href="/">
                        <button class="btn btn-primary cart_button">Keep Shopping</button>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="footer.html::copy">

</div>
<script type="text/javascript" src="static/js/cartPageHandler.js"></script>
</body>
</html>