<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>My Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
<div th:replace="product/index.html::menu">

</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
        <div th:if="${cartSize} > 0">
            <p class="alert alert-warning">Please change only one product quantity at a time</p>
            <table class="table table-borderless">
                <thead class="table-info">
                <th>
                    Product Name
                </th>
                <th>
                    Product ID
                </th>
                <th>
                    Item Count
                </th>
                <th>
                    Subtotal
                </th>
                </thead>
                <tbody>
                <tr th:each="instance : ${cartContents}">
                    <td th:text="${instance.key.getName()}"></td>
                    <td th:text="${instance.key.getId()}"></td>
                    <td th:text="${instance.value}"></td>
                    <td th:text="${instance.value} * ${instance.key.getDefaultPrice()} + ' ' + ${defaultCurrency}"></td>
                    <td>
                        <form action="/cart" method="post">
                            <input type="number" th:value="${instance.value}" name="valueChanged">
                            <input type="hidden" onkeydown="return false" th:value="${instance.key.getId()}" name="objectId">
                            <input class="btn btn-primary" type="Submit" value="Change Quantity">
                        </form>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h1 class="display-5"
                th:text="'You have a total of ' + ${cartSize} + ' items worth:' + ${cartTotal} + ' ' + ${defaultCurrency}"></h1>
            <a href="#">
                <button class="btn btn-success cart_button">Proceed to Checkout</button>
            </a>
        </div>
        <div th:if="${cartSize} <= 0">
            <p>Your cart is empty</p>
        </div>
        <a href="/">
            <button class="btn btn-warning cart_button">Keep Shopping</button>
        </a>
        </div>
    </div>
</div>

<div th:replace="footer.html::copy">

</div>

</body>
</html>