<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">CodeCool Shop</title>
</head>

<body>
<div th:replace="navbar.html :: copy"></div>

<!--<div th:fragment="menu" class="jumbotron text-center">-->
<!--    <h1>Codecool Shop</h1>-->
<!--    <p><a href="/register">Register</a></p>-->
<!--    <p><a href="/login">Log In</a></p>-->
<!--    <p><a href="/logout">Log Out</a></p>-->

<!--</div>-->

<div class="container">
    <br>
    <div th:replace="mainHeader.html ::carousel"></div>

    <!-- category and supplier -->
    <div class="col ">
        <form>
            <div class="form-row">
                <div class="form-group" >
                    <label for="categoryProducts">Category</label>
                    <select id="categoryProducts" class="form-control">
                        <option id="tablets" value="/?productCategory=tablets">Tablets</option>
                        <option id="cameras" value="/?productCategory=cameras">Cameras</option>
                        <option id="living-room-furniture" value="/?productCategory=living-room-furniture">Living Room
                            Furniture
                        </option>
                        <option id="monitors" value="/?productCategory=monitors">Monitors</option>
                    </select>
                </div>
                <div class="form-group" id="supplier-select">
                    <label for="supplier">Supplier</label>
                    <select id="supplier" class="form-control">
                        <option value="supplier=all">All Suppliers</option>
                        <option value="supplier=amazon">Amazon</option>
                        <option value="supplier=walmart">Walmart</option>
                    </select>
                </div>
            </div>

        </form>
    </div>

    <h2 class="text-center" th:text="${category.name}"></h2>
    <br>
    <br>

    <div id="products" class="row">
        <div class="col col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card bg-light mb-3" style="width: 18rem;">
                <img class="" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/' + ${prod.image}" alt=""/>
                <div class="card-header" th:text="${prod.name}"></div>
                <div class="card-body">
                    <p class="card-text" th:text="${#strings.abbreviate(prod.description,60)}">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    <div class="card-text">
                        <div th:if="${supplier} == 'all'">
                            <form method="post"
                                  th:action="@{/(productCategory=${category.getName().toLowerCase()})}">
                                <input type="hidden" name="addToCart" th:value="${prod.getId()}">
                                <input type="submit" class="btn btn-success" value="Add to Cart">
                            </form>
                        </div>
                        <div th:if="${supplier} != 'all'">
                            <form method="post"
                                  th:action="@{/(productCategory=${category.getName().toLowerCase()}, supplier=${supplier.getName().toLowerCase()})}">
                                <input type="hidden" name="addToCart" th:value="${prod.getId()}">
                                <input type="submit" class="btn btn-success" value="Add to Cart">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
<script src="../../static/js/main.js"></script>

</body>
</html>