<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Checkout</title>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>
    <br>
    <h1 class="text-center">Order details</h1>


<div class="container">
    <ul class="list-group" th:each="item : ${items}">
        <li class="list-group-item disabled" th:text="${item.getProductName()} + ${' '} + ${item.getProductPrice()} + ${' '} + ${item.getProductCurrency()}">Item name</li>
    </ul>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item disabled" th:text="${'Total: '} + ${ #numbers.formatDecimal(total, 0 , 'COMMA', 2, 'POINT')} +${' '} +${currency}">Item total</li>
    </ul>
</div>

<br>
<div class="text-center">
    <h2><strong>Please fill in the order details.</strong></h2>
</div>
<br>
<div class="container">
    <form action="/payment-method-select" method="post" th:each="user, inter : ${user}">
        <div class="form-group">
            <label for="full-name">First and last name</label>
            <input aria-describedby="full-name-help" class="form-control" id="full-name" name="full-name" placeholder="Full name" th:value="${user.getFullName()}" type="text">
<!--            <small id="full-name-help" class="form-text text-muted">First and last name of the person receiving the order.</small><small class="text-danger" th:text="${order.invalidFullNameEntryMessage}"></small>-->
        </div>
        <div class="form-group">
            <label for="input-email">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="input-email" name="input-email" placeholder="Enter email" th:value="${user.getEmail()}" type="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="input-phone">Phone number</label>
            <input aria-describedby="phone-help" class="form-control" id="input-phone" name="input-phone" placeholder="Phone number" th:value="${user.getPhoneNumber()}" type="text">
            <small id="phone-help" class="form-text text-muted">Phone number of the person receiving the order.</small>
        </div>
        <div class="form-group">
            <label for="billing-address">Billing address</label>
            <input aria-describedby="billing-address-help" class="form-control" id="billing-address" name="billing-address" placeholder="Billing address" th:value="${user.getBillingAddress()}" type="text">
            <small id="billing-address-help" class="form-text text-muted">Billing address for accounting purposes. Country, city, zip code, address. </small>
        </div>
        <div class="form-group">
            <label for="shipping-address">Shipping address</label>
            <input aria-describedby="shipping-address-help" class="form-control" id="shipping-address" name="shipping-address" placeholder="Shipping address" th:value="${user.getShippingAddress()}" type="text">
            <small id="shipping-address-help" class="form-text text-muted">Shipping address for the product delivery. Country, city, zip code, address. </small>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
    <br>
    <a href="/cart">Cancel order.</a>
</div>

</div>

<br>

<div th:replace="footer.html :: copy"></div>
</body>
</html>