<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Login</title>
</head>
<body>
<div th:include="navbar.html :: copy"></div>

    <br>
    <h1 class="text-center">Login</h1>

<br>
<div class="text-center">
    <h2><strong>Please fill in the account details.</strong></h2>
</div>
<br>
<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="email" name="email" placeholder="Enter email"
                   type="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input aria-describedby="password-help" class="form-control" id="password" name="password" type="password">
            <small id="password-help" class="form-text text-muted">Choose a strong password!</small>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register">
            <button class="btn btn-primary" type="button">Register</button>
        </a>

    </form>
    <br>
    <a href="/">Back to Shop</a>
</div>
<br>
<div th:replace="footer.html :: copy"></div>
</body>
</html>