<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle"></title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary" th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">CodeCool Shop</a>
            <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarResponsive" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_link" href="/cart"><i class="fas fa-shopping-cart fa-2x"></i></a>
                        <span th:if="${cartSize} > 0">
                            <sup class="badge badge-danger" th:text="${cartSize}">300</sup>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</nav>
</body>
</html>