<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">PayPal Details</title>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>

    <br>
    <h1 class="text-center">Please fill in the payment details</h1>

<br>
<div class="text-center">
    <h2 th:text="${'Order number '} +${order.getId()} + ${' totalling '} + ${ #numbers.formatDecimal(total, 0 , 'COMMA', 2, 'POINT')} + ${' '} + ${currency}" >Order number</h2>
</div>
<br>
<div class="container">
    <form action="/payment-confirmation" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter the PayPal username">
            <small id="usernameHelp" class="form-text text-muted">The username of your PayPal account.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter the PayPal password">
            <small id="passwordHelp" class="form-text text-muted">The password of your PayPal account.</small>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
    <br>
    <a href="/cart">Cancel order.</a>
</div>

<br>
<div th:replace="footer.html :: copy"></div>
</body>
</html>