<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Method Select</title>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>

    <br>
    <h1 class="text-center">Choose Payment Method</h1>

<br>
<div class="text-center">
    <h2 th:text="${'Order number '} +${order.getId()} + ${' totalling '} + ${ #numbers.formatDecimal(total, 0 , 'COMMA', 2, 'POINT')} + ${' '} + ${currency}" >Order number</h2>
</div>
<br>
<div class="container">
    <form action="/payment-details" method="post">
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Payment methods</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment-method" id="payment-method1" value="card" checked>
                        <label class="form-check-label" for="payment-method1">
                            Credit Card
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment-method" id="payment-method2" value="paypal">
                        <label class="form-check-label" for="payment-method2">
                            PayPal
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
    <br>
    <a href="/cart">Cancel order.</a>

</div>

<br>
<div th:replace="footer.html :: copy"></div>
</body>
</html>