<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Card Details</title>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>
    <br>
    <h1 class="text-center">Please fill in the payment details</h1>

<br>
<div class="text-center">
    <h2 th:text="${'Order number '} +${order.getId()} + ${' totalling '} + ${ #numbers.formatDecimal(total, 0 , 'COMMA', 2, 'POINT')} + ${' '} + ${currency}" >Order number</h2>
</div>
<br>
<div class="container">
    <form action="/payment-confirmation" method="post">
        <div class="form-group">
            <label for="exmapleInputCardHolder">Card holder</label>
            <input type="text" class="form-control" id="exmapleInputCardHolder" name="card-holder" aria-describedby="cardHolderHelp" placeholder="Enter the card holder's name">
            <small id="cardHolderHelp" class="form-text text-muted">The full name of the card holder as it is displayed on the card.</small>
        </div>
        <div class="form-group">
            <label for="exmapleInputCardNumber">Card number</label>
            <input type="text" class="form-control" id="exmapleInputCardNumber" name="card-number" aria-describedby="cardNumberHelp" placeholder="Enter the card number">
            <small id="cardNumberHelp" class="form-text text-muted">The 16 digit card number as it is displayed on the card.</small>
            <small class="text-danger" th:text="${order.invalidCardNumberMessage}"></small>
        </div>
        <div class="form-group">
            <label for="exmapleInputCardExpiration">Card expiration date</label>
            <input type="text" class="form-control" id="exmapleInputCardExpiration" name="card-expiration" aria-describedby="cardExpirationHelp" placeholder="Enter the card expiration date">
            <small id="cardExpirationHelp" class="form-text text-muted">The XX/XX card expiration date as it is displayed on the card.</small>
        </div>
        <div class="form-group">
            <label for="exmapleInputCardSecurity">Card security code</label>
            <input type="text" class="form-control" id="exmapleInputCardSecurity" name="card-security-code" aria-describedby="cardSecurityHelp" placeholder="Enter the card security code">
            <small id="cardSecurityHelp" class="form-text text-muted">The card security code as it is displayed on the back of the card.</small>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
    <br>
    <a href="/cart">Cancel order.</a>
</div>

<br>
<div th:replace="footer.html :: copy"></div>
</body>
</html>