<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="headerTemplate.html :: headFragment">
    <title id="pageTitle">Register</title>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>
<br>
<h1 class="text-center">Register</h1>

<br>
<div class="text-center">
    <h2><strong>Please fill in the account details.</strong></h2>
</div>
<br>
<div class="container">
    <form action="/register" method="post">
        <div class="form-group">
            <label for="full-name">First and last name</label>
            <input aria-describedby="full-name-help" class="form-control" id="full-name" name="full-name" placeholder="First and last name"
                   type="text">
            <!--            <small id="full-name-help" class="form-text text-muted">First and last name of the person receiving the order.</small><small class="text-danger" th:text="${order.invalidFullNameEntryMessage}"></small>-->
        </div>
        <div class="form-group">
            <label for="input-email">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="input-email" name="input-email" placeholder="Enter email"
                   type="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input aria-describedby="password-help" class="form-control" id="password" name="password" type="password">
            <small id="password-help" class="form-text text-muted">Choose a strong password!</small>
        </div>
        <div class="form-group">
            <label for="input-phone">Phone number</label>
            <input aria-describedby="phone-help" class="form-control" id="input-phone" name="input-phone" placeholder="Phone number"
                   type="text">
            <small id="phone-help" class="form-text text-muted">Phone number of the person receiving the order.</small>
        </div>
        <div class="form-group">
            <label for="billing-address">Billing address</label>
            <input aria-describedby="billing-address-help" class="form-control" id="billing-address" name="billing-address"
                   placeholder="Billing address" type="text">
            <small class="form-text text-muted" id="billing-address-help">Billing address for accounting purposes.
                Country, city, zip code, address. </small>
        </div>
        <div class="form-group">
            <label for="shipping-address">Shipping address</label>
            <input aria-describedby="shipping-address-help" class="form-control" id="shipping-address" name="shipping-address"
                   placeholder="Shipping address" type="text">
            <small class="form-text text-muted" id="shipping-address-help">Shipping address for the product delivery.
                Country, city, zip code, address. </small>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login">
            <button class="btn btn-primary" type="button">Login</button>
        </a>

    </form>
    <br>
    <a href="/">Back to Shop</a>
</div>

</div>

<br>

<div th:replace="footer.html :: copy"></div>
</body>
</html>