.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


.nav_links
{
    display: inline-block;
    margin-left: 10px;
}


.cart_button
{
    margin: 6px;
}

.hide {
    display: none;
}
.inner_form {
    width: fit-content;
    height: fit-content;
}

/*********************************
 Body
*********************************/

*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #FFFFFF;
    color: #1e1e27;
}

/*********************************
Main Navigation
*********************************/

.main_nav_container
{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
.navbar
{
    width: auto;
    height: 80px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Roboto';
}
.navbar_menu li
{
    display: inline-block;
    text-align: center;
}
.navbar_menu li a
{
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover
{
    color: #b5aec4;
    text-decoration: none;

}
.navbar_user
{
    margin-left: 37px;
}
.navbar_user li
{
    display: inline-block;
    text-align: center;
}
.navbar_user li a
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.navbar_user li a:hover
{
    color: #b5aec4;
    text-decoration: none;
}
.checkout a
{
    background: #eceff6;
    border-radius: 50%;
}
.checkout_items
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #FFFFFF;
}


/*********************************
Logo
*********************************/

.logo_container
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
}
.logo_container a
{
    font-size: 24px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.logo_container a span
{
    color: #fe4c50;
}

/*********************************
Button style
*********************************/


.btn-success, btn-success:active , btn-success:focus, .btn-success:visited {
    background-color: #fe4c50;
    border-color: #fe4c50;
}

.btn-success:hover {
    background-color: #1e1e27
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #fe4c50 !important;
    border-color: #fe4c50 !important;
}

.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #fe4c50 !important;
    border-color: #fe4c50 !important;
}

.btn-success:hover, .btn-primary:hover {
    background-color: #fe7073 !important;

}

#supplier-select {
    margin-left: 20px;
}

.display-5 {
    margin-top: 50px;
    margin-bottom: 60px;
}

label {
    font-size: 20px;
}

.card {
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
}
